html
  font-size: 62.5%

small
  font-size: 0.85rem

.caption
  caption-side: top
  text-align: center
  font-size: 1.4rem
  font-weight: bolder

.table
  & th
    text-align: center
    font-size: 1.3rem
    vertical-align: middle
  & td
    font-size: 1.3rem
    height: 3.8rem
    padding: .5rem
    vertical-align: middle

.tr-title
  background-color: #bbf

.tr-odd
  background-color: #fbb

.tr-even
  background-color: #c0ffbb

.text
  font-size: 1.2rem
  &-title
    font-size: 1.6rem

.layout
  margin: 1rem

.form-group
  margin: 1rem 0

.label
  &-form-group
    width: 2rem

.input
  font-size: 1.2rem
  &-form-group
    width: 15rem !important
  &-td
    width: 100%
    padding: .5rem
  &-pos
    margin: 0 .5rem
    width: 6rem
    padding: 0 .5rem

.button
  cursor: pointer