extends base
block main
    section.section.section__table
    .layout
        hr.my-4
        button.button.btn.btn-success.text(type='button' data-toggle='modal' data-target='#addTable') Add table
    include ./__blocks/modal__add-table